html{
    scroll-behavior: smooth;
}

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
/* banner section style starts from here */
/*  
.banner-container{

max-width: 100%;
margin: 0 auto; 
border: 2px solid red;
min-height: 600px;
margin-top: 20px;
background-image: url("/assets/Hero-bg.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
*/

  
.banner-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
}
.button-contact{
      position: static;
      width: 160px;
      height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 21px 24px 21px 24px;
}

section{
        font-size: 48px;
        height: 800;
        text-align: center;
        letter-spacing: 0;
}

 /* section one start */

section{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
}

.half-1{
        width: 480px;
        height: 140px;


}

.half-2{



}


