
.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

 #hero{
width: 100%;
height: 650px;
margin-top: 80px;
background-image: url("../assets/Hero-bg.png");
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;

 }

#hero .hero-content{
width: 998px;
height: 582px;
left: 219px;
right: 223px;
top: 154px;
bottom: 4509px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}

#hero .banner-title{
font-size: 58px;
font-weight: 800px;
line-height: 58px;
text-align: center;
margin-bottom: 20px;
}


#hero .banner-para{
  font-size: 26px;
  font-weight: 400px;
  line-height: 38px;
  text-align: center;
}

.banner-btn{
font-size: 28px;
font-weight: 600px;
font-color: white ;
text-align: center;
padding: 21px 24px 21px 24px;
border-radius: 8px;
margin-top: 20px;
}

.title{
font-size: 38px;
font-weight: 800px;
}
.description{
  font-size: 25px;
  font-weight: 500px;
}

.sub-title{
font-size: 33px;
font-weight: 700px;
}
.text-part{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.between{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  height: 300px;
  margin-top: 150px;
  border: 1px solid tomato;
}
.between2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  height: 300px;
  margin-top: 150px;
  border: 1px solid tomato;


}

.between3{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  height: 300px;
  margin-top: 150px;
  border: 1px solid tomato; 
}

.learn-btn{
font-size: 20px;
font-weight: 600px;
text-align: center;
border: 1px solid rgb 13 19 33;
opacity: 0.7;
padding: 12px 20px 12px 20px;
margin: 32px 0;
margin-top: 50px;
}

.why.develop{

display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
}

.my-inspiration{
margin-top: 120px;

}
.video{
margin-top: 50px;
}

.card-btn{
font-size: 50px;
}

/* my target section start */

#my-target{
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;

}

.footer-title{
font-size: 52px;
text-align: center;
color:rgba(255, 255, 255);
}

.footer-para{
font-size: 35px;
text-align: center;
color:rgba(255, 255, 255);
margin-top: 35px;

}

#foot{background-image: url("../assets/handshake.jpg");
width: 1150px;
height: 380px;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 20px;
opacity: 20px;
}


.small-btn{
  font-size: 20px;
background-color: white;
padding: 15px 25px;
border-radius: 8px;
margin-left: 15px;
margin-top: 20px;
}
.long-btn{
  width: 400px;
background-color: white;
margin: auto;
font-size: 20px;
padding: 15px 25px;
border-radius: 8px;
margin-left: 100px;
}


